.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: pink;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header, main, footer {
  width: 100%;
  background: lightblue;
}

header  {
  border-bottom: 1px solid gray;
}

input,
textarea {
  outline: none;
  resize: none;
}

.ideas-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}

.title {
  margin: 10px 20px 0px;
  font-family: Arial, sans-serif;
}

.controls {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}

.search,
.add-new {
  font-size: 14px;
  padding: 5px;
  margin: 8px;
}

.search {
  flex-grow: 1;
  max-width: 300px;
}

.add-new {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-weight: bolder;
  background-color: #eee;
  outline: none;
}

.card {
  font-family:Georgia, 'Times New Roman', Times, serif;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #88bbc1;
  border: 1px solid #000;
  box-shadow: 2px 2px 3px gray;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.idea-name,
.idea-description {
  font-family:Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  padding: 8px 14px;
  background: transparent;
  border: none;
}

.idea-name {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.idea-description {
  flex-grow: 1;
  font-size: 14px;
}

.idea-delete {
  position: absolute;
  top: 0px;
  right: 7px;
  font-size: 20px;
  color: lightgrey;
  padding: 5px;
}

.idea-delete:hover {
  color: black;
  cursor: pointer;
}

.idea-color {
  width: 10%;
  position: absolute;
  bottom: 0px;
  right: 7px;
}